<!DOCTYPE html>
<html>
<head>
  <title>Infopanel</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
  <meta name="viewport" content="width=device-width initial-scale=1.0, user-scalable=0">
  <!-- styles -->
  <link rel="stylesheet" type="text/css" href="css/styles.css"/>
  <!-- end styles -->
  <!-- scripts -->
  <script src="scripts/jquery-1.10.2.js"></script>
  <script src="scripts/angular-1.3.14.js"></script>
  <script src="scripts/angular-animate.min.js"></script>
  <script src="scripts/TweenMax.min.js"></script>
  <script src="scripts/app.js"></script>
  <!-- end scripts -->
  <!-- flash script -->
  <script type="text/javascript" src="assets/m1/swfobject.js"></script>
  <script type="text/javascript">
    // For version detection, set to min. required Flash Player version, or 0 (or 0.0.0), for no version detection.
    var swfVersionStr = "0.0.0";
    // To use express install, set to playerProductInstall.swf, otherwise the empty string.
    var xiSwfUrlStr = "playerProductInstall.swf";
    var flashvars = {};
    var params = {};
    params.quality = "high";
    params.bgcolor = "#CFB276";
    params.allowscriptaccess = "sameDomain";
    params.allowfullscreen = "true";
    var attributes = {};
    attributes.id = "bubo2";
    attributes.name = "bubo2";
    attributes.align = "middle";
    swfobject.embedSWF(
      "assets/m1/bubo2.swf", "flashContent",
      "1920", "1080",
      swfVersionStr, xiSwfUrlStr,
      flashvars, params, attributes);
    // JavaScript enabled so display the flashContent div in case it is not replaced with a swf object.
    swfobject.createCSS("#flashContent", "display:block;text-align:left;");
  </script>
  <script type="text/javascript">
    // For version detection, set to min. required Flash Player version, or 0 (or 0.0.0), for no version detection.
    var swfVersionStr = "0.0.0";
    // To use express install, set to playerProductInstall.swf, otherwise the empty string.
    var xiSwfUrlStr = "playerProductInstall.swf";
    var flashvars = {};
    var params = {};
    params.quality = "high";
    params.bgcolor = "#CFB276";
    params.allowscriptaccess = "sameDomain";
    params.allowfullscreen = "true";
    var attributes = {};
    attributes.id = "bubo2_fr";
    attributes.name = "bubo2_fr";
    attributes.align = "middle";
    swfobject.embedSWF(
      "assets/m1/bubo2_fr.swf", "flashContent_fr",
      "1920", "1080",
      swfVersionStr, xiSwfUrlStr,
      flashvars, params, attributes);
    // JavaScript enabled so display the flashContent div in case it is not replaced with a swf object.
    swfobject.createCSS("#flashContent_fr", "display:block;text-align:left;");
  </script>
  <!-- end flash script -->
</head>
<body ng-controller="mainCtrl" ng-app="mainApp">

<!-- start m0 -->
<section ng-show="choice.m0.ID == 'm0'" id="m0">
  <div class="lang">
    <button ng-model="choice.Language" ng-click="choice.Language = 'DE'" ng-class='{"active": choice.Language == "DE"}'>
      D
    </button>
    <button ng-model="choice.Language" ng-click="choice.Language = 'FR'" ng-class='{"active": choice.Language == "FR"}'>
      F
    </button>
  </div>
  <div class="navi">
    <ul>
      <li ng-repeat="item in filtered_m0 = (m0 | filter: filter_m0)">
        <button ng-click="choice.m0 = item; startSlideShow(item);">
              <span ng-show="choice.Language == 'DE'">
	             {{item.TitelD}}
	          	</span>
	          	<span ng-show="choice.Language == 'FR'">
	             {{item.TitelF}}
	            </span>
        </button>
      </li>
    </ul>
  </div>
</section>
<!-- end of m0 -->

<!-- start nav -->
<nav id="top" ng-show="(choice.m0.ID != 'm0' && choice.m0.ID != 'm5')">
  <div class="navi">
    <ul id="form-m0" ng-show="choice.Language == 'DE'">
      <li ng-repeat="item in filtered_m0 = (m0 | filter: filter_m1)" emit-last-repeater-element>
        <a ng-click="choice.m0 = item; startSlideShow(item);" ng-model="choice.m0" href=""
           ng-class="{'active': choice.m0.ID == item.ID}">
          <span>{{item.TitelD}}</span>
        </a>
      </li>
    </ul>

    <ul id="form-m0" ng-show="choice.Language == 'FR'">
      <li ng-repeat="item in filtered_m0 = (m0 | filter: filter_m1)" emit-last-repeater-element>
        <a ng-click="choice.m0 = item; startSlideShow(item);" ng-model="choice.m0" href=""
           ng-class="{'active': choice.m0.ID == item.ID}">
          <span>{{item.TitelF}}</span>
        </a>
      </li>

    </ul>
  </div>
  <div class="lang">
    <button ng-model="choice.Language" ng-click="choice.Language = 'DE'" ng-class='{"active": choice.Language == "DE"}'>
      D
    </button>
    <button ng-model="choice.Language" ng-click="choice.Language = 'FR'" ng-class='{"active": choice.Language == "FR"}'>
      F
    </button>
  </div>
</nav>

<!-- end of nav -->

<!-- start m1 -->
<section ng-class='{"visible": choice.m0.ID == "m1"}' id="m1">


  <div id="flashContent_container" ng-class='{"visible": choice.Language == "DE"  && choice.m0.ID == "m1"}'>
    <div id="flashContent" ng-class='{"visible": choice.Language == "DE"}'></div>
  </div>
  <div id="flashContent_fr_container" ng-class='{"visible": choice.Language == "FR"  && choice.m0.ID == "m1"}'>
    <div id="flashContent_fr" ng-class='{"visible": choice.Language == "DE"}'></div>
  </div>


</section>
<!-- end of m1 -->

<!-- start m2 -->
<section ng-show="choice.m0.ID == 'm2'" id="m2">
  <div class="lists">
    <div class="list">
      <div class="custom-slider" ng-model="choice.m0" ng-watch-change="choice.Language" custom-slider>
        <div class="mask">
          <ul id="form-m2-year" class="slider-list">
            <li ng-repeat="item in m2 | unique:'Jahr' | reverse " emit-last-repeater-element>
              <a href="" ng-click="choice.m2 = item;" ng-class="{'active': choice.m2.TitelD == item.TitelD}">{{item.Jahr}}</a>
            </li>
          </ul>
        </div>
        <a ng-click="" href="" class="prev controls">prev</a>
        <a ng-click="" href="" class="next controls">next</a>
      </div>
    </div>
    <div class="list list-bottom" ng-class="{'show-list': (filtered_m2.length > 1)}">
      <div class="custom-slider" ng-model="choice.m2" ng-watch-change="choice.Language" custom-slider>
        <div class="mask">
          <ul id="form-m2-event" class="slider-list">
            <li ng-repeat="item in filtered_m2 = (m2 | filter: filter_m2)" emit-last-repeater-element>
              <a ng-model="choice.filtered_m2" href="" ng-click="choice.filtered_m2 = item"
                 ng-class="{'active': choice.filtered_m2.TitelD == item.TitelD}">
			            	<span ng-show="choice.Language == 'DE'">
			                {{item.TitelD}}
			              </span>
			              <span ng-show="choice.Language == 'FR'">
			                {{item.TitelF}}
			              </span>
              </a>
            </li>
          </ul>
        </div>
        <a ng-click="" href="" class="prev controls">prev</a>
        <a ng-click="" href="" class="next controls">next</a>
      </div>
    </div>
  </div>
  <div class="show-dialog-2">

    <div class="text text-scroll" ng-model="choice.m0" ng-updater="0" ng-language="choice.Language"
         ng-page="choice.filtered_m2" text-scroll>
      <h1 ng-show="choice.Language == 'DE'">
        <span fade-model="choice.filtered_m2.TitelD"></span>
      </h1>

      <h1 ng-show="choice.Language == 'FR'">
        <span fade-model="choice.filtered_m2.TitelF"></span>
      </h1>

      <div class="mask">
        <div class="scroll-content">
          <div ng-show="choice.Language == 'DE'" for="{{item.TitelD}}">
            <div fade-model="choice.filtered_m2.TextD"></div>
          </div>
          <div ng-show="choice.Language == 'FR'" for="{{item.TitelD}}">
            <div fade-model="choice.filtered_m2.TextF"></div>
          </div>
        </div>
      </div>
      <a ng-click="" href="" class="top controls">prev</a>
      <a ng-click="" href="" class="bottom controls">next</a>
    </div>

    <div id="m3" class="gallery image-slider" ng-additions="assets/m2/" ng-model="choice.filtered_m2"
         image-slider></div>

  </div>
</section>
<!-- end of m2 -->

<!-- start m3 -->
<section ng-show="choice.m0.ID == 'm3'" id="m3">
  <div class="lists">
    <div class="list">
      <div class="custom-slider" ng-model="choice.m0" ng-watch-change="choice.Language" custom-slider>
        <div class="mask">
          <ul id="form-m3-month" class="slider-list">
            <li ng-repeat="item in m3 | unique:'Datum' | reverse" emit-last-repeater-element>
              <a href="" ng-click="choice.m3 = item;" ng-class="{'active': choice.m3.TitelD == item.TitelD}">
                {{convertData(item.Datum)}}</a>
            </li>
          </ul>
        </div>
        <a ng-click="" href="" class="prev controls">prev</a>
        <a ng-click="" href="" class="next controls">next</a>
      </div>
    </div>
    <div class="list list-bottom">
      <div class="custom-slider" ng-model="choice.m3" ng-watch-change="choice.Language" custom-slider>
        <div class="mask">
          <ul id="form-m3-event" class="slider-list">
            <li ng-repeat="item in filtered_m3 = (m3 | filter: filter_m3)" emit-last-repeater-element>
              <a ng-model="choice.filtered_m3" href="" ng-click="choice.filtered_m3 = item"
                 ng-class="{'active': choice.filtered_m3.TitelD == item.TitelD}">
			            	<span ng-show="choice.Language == 'DE'">
				              {{item.TitelD}}
				            </span>
				            <span ng-show="choice.Language == 'FR'">
				              {{item.TitelF}}
				            </span>
              </a>
            </li>
          </ul>
        </div>
        <a ng-click="" href="" class="prev controls">prev</a>
        <a ng-click="" href="" class="next controls">next</a>
      </div>
    </div>
  </div>
  <div class="show-dialog-2">
    <div class="text text-scroll" ng-model="choice.m0" ng-language="choice.Language" ng-page="choice.filtered_m3"
         text-scroll>
      <div class="mask">
        <div class="scroll-content">
          <h1>
			           <span ng-show="choice.Language == 'DE'">
                   <span fade-model="choice.filtered_m3.TitelD"></span>
                 </span>
			           <span ng-show="choice.Language == 'FR'">
                   <span fade-model="choice.filtered_m3.TitelF"></span>
                 </span>
          </h1>

          <div>
            <div ng-show="choice.Language == 'DE'">
              <div fade-model="choice.filtered_m3.TextD"></div>
            </div>
            <div ng-show="choice.Language == 'FR'">
              <div fade-model="choice.filtered_m3.TextF"></div>
            </div>
          </div>
        </div>
      </div>
      <a ng-click="" href="" class="top controls">prev</a>
      <a ng-click="" href="" class="bottom controls">next</a>
    </div>

    <div class="gallery image-slider" ng-additions="assets/m3/" ng-model="choice.filtered_m3" image-slider></div>

  </div>
</section>
<!-- end of m3 -->

<!-- start m4 -->
<section ng-show="choice.m0.ID == 'm4'" id="m4" ng-init="show_dialog_m4.show = false">
  <ul id="form-m4-person">
    <li ng-repeat="item in m4" emit-last-repeater-element ng-show="item.Bild != ''">
      <a href="" ng-class="{'no-image': item.Bild == '' }" ng-click="choice.m4 = item; show_dialog_m4.show = true;"
         ng-style="{'background-image': 'url(assets/m4/thumb/{{urlEncode(item.Bild)}})'}">

      </a>
    </li>
  </ul>
  <div class="show-dialog" ng-show="show_dialog_m4.show">
    <div class="left">
      <div class="name">
        <span fade-model="choice.m4.Vorname"></span>

        <div>
          <span fade-model="choice.m4.Name"></span>
        </div>
      </div>
      <div class="descr" ng-show="choice.Language == 'DE'">
        <div fade-model="choice.m4.FunktionD"></div>
      </div>
      <div class="descr" ng-show="choice.Language == 'FR'">
        <div fade-model="choice.m4.FunktionF"></div>
      </div>
      <a class="close" href="" ng-click="show_dialog_m4.show = false">
        <span ng-show="choice.Language == 'DE'">Zurück zur Übersicht</span>
        <span ng-show="choice.Language == 'FR'">Retour a l’apercu</span>
      </a>

    </div>
    <div class="image">
      <img ng-if="choice.m4.Bild" class="photo" fade-model="choice.m4.Bild" data-folder-src="assets/m4/original/"
           alt=""/>
    </div>
    <div class="lists">
      <div class="list list-bottom">
        <div class="custom-slider" ng-model="choice.m4" ng-watch-change="choice.Language" custom-slider="centerad">
          <div class="mask">
            <ul id="form-m4-person-name" class="slider-list">
              <li ng-repeat="item in m4" emit-last-repeater-element>
                <a href="" ng-class="{'active': (choice.m4.Name == item.Name && choice.m4.Vorname == item.Vorname)  }"
                   ng-click="choice.m4 = item; show_dialog_m4.show = true;">
                  {{item.Vorname}} {{item.Name}}
                </a>
              </li>
            </ul>
          </div>
          <a ng-click="" href="" class="prev controls">prev</a>
          <a ng-click="" href="" class="next controls">next</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- end of m4 -->

<!-- start m5 -->
<section ng-show="choice.m0.ID == 'm5'" id="m5" ng-click="choice.m0 = m0[0] ">

  <div class="slide-show" ng-model="m5" ng-watch-change="choice.m0" slide-show>
    <div class="item">
      <img ng-src="assets/m5/{{photo.Bild}}" alt="{{photo.Fotograf}}"/>

      <div class="top title">
        {{photo.VogelnameD}} <br/> {{photo.VogelnameF}}
      </div>
      <div class="bottom title">
        © {{photo.Fotograf}}
      </div>
    </div>
    <div class="item">
      <img ng-src="assets/m5/{{photo2.Bild}}" alt="{{photo2.Fotograf}}"/>

      <div class="top title">
        {{photo2.VogelnameD}} <br/> {{photo2.VogelnameF}}
      </div>
      <div class="bottom title">
        © {{photo2.Fotograf}}
      </div>
    </div>
  </div>
  <!--<video ng-show="url_hash == 'slideshow1'|| (!url_hash)" autoplay loop name="media">-->
  <!--<source src="assets/m5/slideshow1.mp4" type="video/mp4"/>-->
  <!--</video>-->
  <!--<video ng-show="url_hash == 'slideshow2'" autoplay loop name="media">-->
  <!--<source src="assets/m5/slideshow2.mp4" type="video/mp4"/>-->
  <!--</video>-->

  <button ng-click="choice.m0 = m0[0] " class="close close1"></button>
  <button ng-click="choice.m0 = m0[0] " class="close close2"></button>
  <button ng-click="choice.m0 = m0[0] " class="close close3"></button>
  <button ng-click="choice.m0 = m0[0] " class="close close4"></button>
  <button ng-click="choice.m0 = m0[0] " class="close close5"></button>
  <button ng-click="choice.m0 = m0[0] " class="close close6"></button>
  <button ng-click="choice.m0 = m0[0] " class="close close7"></button>
  <button ng-click="choice.m0 = m0[0] " class="close close8"></button>

</section>
<!-- end of m5 -->

<script type="text/ng-template" id="galleryTemplate">
  <div class="main-box" ng-class="{'show-this': (shown)}">
    <div class="image-place"
         ng-show="(modelInner.Bild1 && modelInner.Bild1.length) ||
								      		(modelInner.Bild2 && modelInner.Bild2.length) ||
								      		(modelInner.Bild3 && modelInner.Bild3.length) ||
								      	  (modelInner.Bild4 && modelInner.Bild4.length) ||
								      	  (modelInner.Bild5 && modelInner.Bild5.length) ||
								      	  (modelInner.Bild6 && modelInner.Bild6.length) ||
								      	  (modelInner.Bild7 && modelInner.Bild7.length) ||
								      	  (modelInner.Bild8 && modelInner.Bild8.length) "
         ng-class="{'show-bg': galleryClass(modelInner)}">
      <img class="img" ng-if="(modelInner.Bild1 && modelInner.Bild1.length)" ng-src="{{urlEncode(modelInner.Bild1)}}"
           alt=""/>
      <img class="img" ng-if="(modelInner.Bild2 && modelInner.Bild2.length)" ng-src="{{urlEncode(modelInner.Bild2)}}"
           alt=""/>
      <img class="img" ng-if="(modelInner.Bild3 && modelInner.Bild3.length)" ng-src="{{urlEncode(modelInner.Bild3)}}"
           alt=""/>
      <img class="img" ng-if="modelInner.Bild4" ng-src="{{urlEncode(modelInner.Bild4)}}" alt=""/>
      <img class="img" ng-if="modelInner.Bild5" ng-src="{{urlEncode(modelInner.Bild5)}}" alt=""/>
      <img class="img" ng-if="modelInner.Bild6" ng-src="{{urlEncode(modelInner.Bild6)}}" alt=""/>
      <img class="img" ng-if="modelInner.Bild7" ng-src="{{urlEncode(modelInner.Bild7)}}" alt=""/>
    </div>
    <a ng-click="" href="" class="prev controls">prev</a>
    <a ng-click="" href="" class="next controls">next</a>
  </div>
</script>

</body>
</html>